@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

select:focus > option:checked {
  background: #37bbca !important;
}

.form-scroll::-webkit-scrollbar,
.forgetPW-scroll::-webkit-scrollbar {
  display: none;
}

.auth_input {
  @apply w-full font-roboto font-[400]  placeholder:text-[#848484] outline-none h-[46px] border-[1.25px] border-[#CECECE] px-[12px] py-[11px] h-[46px] rounded-[4px];
}

.signup_span {
  @apply w-[153px] h-[0.75px] bg-[#CECECE] hidden md:block;
}

.form-scroll {
  @apply px-[10px] lg:h-[100vh] grid items-center lg:overflow-scroll py-[40px] text-center mx-auto;
}

.forgetPW-scroll {
  @apply px-[10px] lg:h-[100vh] overflow-scroll py-[40px] text-center mx-auto;
}
